<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>sh.edgar.alfred.GithubRepos</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0181D01E-433D-4461-B212-F01CBDA53091</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DA5013F-ECBE-47B0-B940-9A997CB227BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>549B4661-C716-45E3-97F9-F69D72A70B6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CB21C29-3AF6-4E12-A2C8-E8670FE56AA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9C8AF5E1-FB99-44C2-9FFD-5DFC67366C10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0181D01E-433D-4461-B212-F01CBDA53091</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EFFBF4FD-3C90-4266-BE53-DE912E5FAFC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB3BD698-90BE-4C21-BF33-EFE6154B54CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FE3390F7-206C-45C4-94BB-5DD14DE23A1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>549B4661-C716-45E3-97F9-F69D72A70B6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Edgar Suarez</string>
	<key>description</key>
	<string>Open your github repos</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github repos</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>runningsubtext</key>
				<string>Fetching repositories from github...</string>
				<key>script</key>
				<string>ruby github "{query}"</string>
				<key>subtext</key>
				<string>Search your github repositories for '{query}'</string>
				<key>title</key>
				<string>Search your github repositories</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EFFBF4FD-3C90-4266-BE53-DE912E5FAFC4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Local cache has been rebuilt</string>
				<key>title</key>
				<string>Fetch complete!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8CB21C29-3AF6-4E12-A2C8-E8670FE56AA8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EB3BD698-90BE-4C21-BF33-EFE6154B54CD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Token saved!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2DA5013F-ECBE-47B0-B940-9A997CB227BB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gh-update</string>
				<key>subtext</key>
				<string>Rebuilds your local cache from github</string>
				<key>text</key>
				<string>Rebuild local cache of respositories</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FE3390F7-206C-45C4-94BB-5DD14DE23A1B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>ruby github --update</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>549B4661-C716-45E3-97F9-F69D72A70B6D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>ruby github --auth {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0181D01E-433D-4461-B212-F01CBDA53091</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gh-auth</string>
				<key>subtext</key>
				<string>Go to https://github.com/settings/tokens/new to get a new token</string>
				<key>text</key>
				<string>gh-auth TOKEN</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9C8AF5E1-FB99-44C2-9FFD-5DFC67366C10</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0181D01E-433D-4461-B212-F01CBDA53091</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>2DA5013F-ECBE-47B0-B940-9A997CB227BB</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>549B4661-C716-45E3-97F9-F69D72A70B6D</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>8CB21C29-3AF6-4E12-A2C8-E8670FE56AA8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9C8AF5E1-FB99-44C2-9FFD-5DFC67366C10</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>EB3BD698-90BE-4C21-BF33-EFE6154B54CD</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EFFBF4FD-3C90-4266-BE53-DE912E5FAFC4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FE3390F7-206C-45C4-94BB-5DD14DE23A1B</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/edgarjs/alfred-github-repos</string>
</dict>
</plist>
